.body {
    width: 1440px;
    height: 900px;
    padding: 0;
    margin: 0;
}
.wrapper {

    font-family: 'montserrat', 'quicksand';
    font-size: 19px;
    align-items: center;
    line-height: 28px;
    margin: 150px 0 150px 150px;

}
.list_square {
    float: left;

}
.colors {
    float: left;
}
.square100 {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    background: #1f2041;
    margin-bottom: 20px;
    
}
.square75 {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    background: rgba(31, 32, 65, 0.75);
    margin-bottom: 20px;
}
.square50 {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    background: rgba(31, 32, 65, 0.50);
    margin-bottom: 20px;
}
.square25 {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    background: rgba(31, 32, 65, 0.25);
    margin-bottom: 20px;
}
.square5 {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    background: rgba(31, 32, 65, 0.05);
    margin-bottom: 20px;
}
.square_purple {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    background: #BC9CFF;
    margin-bottom: 20px;
}

.square_green {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    background: #6FCF97;
    
		}
.colors {
    margin-top: 7px;
    margin-left: 40px;
}
.dark100 {
    margin-bottom: 34px;
}
.dark75 {
    margin-bottom: 34px;
}
.dark50 {  
      margin-bottom: 34px;
}
.dark25 {
    margin-bottom: 34px;
}
.dark5 {
    margin-bottom: 34px;
}
.purple {
    margin-bottom: 34px;
}
.Green {
}

.right-side {
    float: right;
    margin-right: 158px;
}
.text-list {
    
    line-height: 29px;
    font-family: 'montserrat';
}
.text-h1 {
    font-size: 24px;
    margin-bottom: 51px;
    line-height: 29px;
}
.text-h2 {
    font-size: 19px;
    margin-bottom: 51px;
    line-height: 23px;
}
.text-h3 {
    font-size: 12px;
    margin-bottom: 51px;
    line-height: 15px;
}
.text-body {
    font-size: 14px;
    line-height: 24px;
}
.list-tittle {
    float: right;
    color: rgba(31, 32, 65, 0.25);
}
.first {
    margin-right: 30px;
    text-align: center;

    font-family: 'montserrat';

}

.first-h1 {
    margin-bottom: 80px;
    font-size: 24px;
    line-height: 29px;
}
.second-h2 {
    margin-bottom: 74px;
    font-size: 19px;
    line-height: 23px;
}
.third-h3 {
    margin-bottom: 50px;
    font-size: 12px;
    line-height: 15px;
}
.text-body {
    font-size: 14px;
    line-height: 24px;
}
.list-tittle {
}
.first {
}
