

        body {
            margin: 0;
            padding: 0;
            width: 1350px;
        }
        .left-first {
            width: 1050px;
            margin: 0 auto;
			display: grid;
			grid-template-columns: 70px;
			grid-gap: 1em;
			/* grid-auto-rows: 150px; */
		}

		.left-first > .square{
			padding: 1em;
            border-radius: 6px;
            margin-bottom: 20px;
            width: 70px;
            height: 70px;
        }
        .leftblock {
            display:
        }
        .square {

        }
        .color100 {
            background: #1f2041;
        }
        .color75 {
            background: rgba(31, 32, 65, 0.75);
        }
        .color50 {
            background: rgba(31, 32, 65, 0.50);
        }
        .color25 {
            background: rgba(31, 32, 65, 0.25);
        }
        .color5 {
            background: rgba(31, 32, 65, 0.05);
        }
        .color-purple {
            background: #BC9CFF;
        }
        .color-green {
            background: #6FCF97;
        }
        