* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
header {
    width: 100%;
    display: flex;
}
.header__logo {
    margin: 15px 13px 15px 140px;
}
.header__logos {
    margin: 0 50px 20px 140px;
}
.img__tox {
    padding-bottom: 12px;
    margin-left: 5px;
}

.header__logo__tox {
    margin-top: 13px;
    margin-left: 13px;
}
.header__logo__toxin {
    margin: 29px 0 29px 0;
}
body {
    background: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

}
.topnav {
    margin-left: 285px;
    margin-top: 26px;
  
}
.topnav .lists{
    text-decoration: none;

    line-height: 17px;
    text-align: center;
    color: rgba(31, 32, 65, 0.5);
    margin-right: 20px;

}
.fa {
    color:  rgba(31, 32, 65, 0.5);
}
.btn__enter {
    border-radius: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #BC9CFF;
    border: 2px solid #BC9CFF;
    padding: 9px 20px 10px 20px;
    width: 87px;
    text-transform: uppercase;
    margin: 20px 20px 20px 20px;
}
.btn__signin {
    border-radius: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #BC9CFF;
    padding: 9px 20px 10px 20px;
    width: 87px;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.fa {
    color: rgba(31, 32, 65, 0.5);
    font-family: "FontAwesome";
    margin-left: 5px;
}
footer {
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);

}
.text__footer {
    width: 260px;
    height: 72px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);

}
.wrapper__footer {
    display: flex;
    font-family: 'Montserrat', sans-serif;
}
.footer__nav {

    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
  }

 .footer__nav li {
    margin-bottom: 20px;
    margin-right: 70px;
  }
  .mydef {
      display: flex;
      float: left;
      margin: 26px 0 26px 140px;
      
  }
  .mydef p{
      margin-right: 681px;
  }
  .mydef img {
    width: 24px;
    height: 24px;
    margin-right: 20px;
  }
  .special__offer {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 14px;
    line-height: 24px;
/* or 171% */
  }
.wrapper__footer a {
    color: rgba(31, 32, 65, 0.75);
}
.wrapper__footer .h2__foot {
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}
.main__image {
    position: relative;
    background: url('../img/image3.png') no-repeat top left;
    width: 1534px;
    height: 1022px;
}

.content {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: rgba(31, 32, 65, 0.75);
    left: 1009px;
    top: 834px;

}
.header__logos p {
    margin-top: 15px;
}
.email__form {
    width: 260px;
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    color: rgba(31, 32, 65, 0.25);

}
input{
    padding: 0 20px;
}
.find__number__main {
    position: absolute;
    width: 320px;
    height: 59px;
    left: 170px;
    top: 180px;
}